<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Calculator</h1>
    <input type="number" id="numberA" placeholder="Enter number A">
    <input type="number" id="numberB" placeholder="Enter number B">
    <br><br>
    <button onclick="performAction('add')">Add</button>
    <button onclick="performAction('subtract')">Subtract</button>
    <button onclick="performAction('multiply')">Multiply</button>
    <button onclick="performAction('divide')">Divide</button>
    <div id="result" class="result"></div>

    <script>
        function performAction(action) {
            let numberA = document.getElementById('numberA').value;
            let numberB = document.getElementById('numberB').value;
            let resultBlock = document.getElementById('result');

            fetch(`/${action}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify({
                    "A": parseFloat(numberA),
                    "B": parseFloat(numberB)
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.answer !== undefined) {
                    resultBlock.textContent = `Answer: ${data.answer}`;
                    resultBlock.classList.add('success');
                    resultBlock.classList.remove('error');
                } else if (data.error) {
                    resultBlock.textContent = `Error: ${data.error}`;
                    resultBlock.classList.add('error');
                    resultBlock.classList.remove('success');
                }
            })
            .catch(error => {
                resultBlock.textContent = `Error: ${error}`;
                resultBlock.classList.add('error');
                resultBlock.classList.remove('success');
            });
        }
    </script>

</body>
</html>

